<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <connectionStrings>
   <add name="SqlConfig"
        connectionString="Data Source=LAPTOP-FDI1JQM3\SQLEXPRESS;
		Initial Catalog=YD;
		User ID = LAPTOP-FDI1JQM3\---;
		Password = ;
		Integrated Security = True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>